<launch>
    <include file="$(find aliengo_slam)/launch/slam.launch">   
     </include>
    <include file="$(find dogbot_gazebo)/launch/dog.launch">   
     </include>
    
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find aliengo_slam)/rviz/slam_with_elev.rviz">
        <remap from="/move_base_simple/goal" to="/aliengo_goal"/>
     </node>
    <node pkg="aliengo_description" type="odometry" name="odometry" respawn="false" output="screen">
    </node>
    
    <rosparam command="load" file="$(find aliengo_utils)/config/dogbot_footplan_params.yaml"/>
    <rosparam command="load" file="$(find aliengo_utils)/config/dogbot_config.yaml"/>
    
    <node name="footstep_state_publisher" pkg="dogbot_gazebo" type="dogbot_footstate_publisher.py" output="screen">
     </node>
    <node name="dogbot_interface" pkg="dogbot_gazebo" type="dogbot_interface.py" output="screen">
     </node>
</launch>